{% extends "layout.html" %}

  {% block body %}
    <div class="login ">
    <h1>Welcome to the Register page!</h1>
    {% with messages=get_flashed_messages()%} {% if messages %}
    <div>
      {% for message in messages %}
      <div>{{message}}</div>
      {%endfor%}
    </div>
    {% endif %} {% endwith %}
    <form method="POST">
      {{form.hidden_tag()}}
      <div>{{form.username.label}} {{form.username}}</div>
      <div>{{form.password.label}} {{form.password}}</div>
      <div>{{form.password2.label}} {{form.password2}}</div>
      <div>{{form.submit()}}</div>
      <h5>
        Already have an account? Login
        <a href="{{url_for('login')}}">here!</a>
      </h5>
    </form>
  </div>
  {% endblock %}
